@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scrollbar-gutter: stable;
}

/* fallback if you want */
@supports not (scrollbar-gutter: stable) {
  html {
    overflow-y: scroll;
  }
}

.arrow-btn {
  padding: 12px 18px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.06);
  color: white;
  font-weight: 600;
  border-radius: 10px;

  /* Arrow shape */
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%, 8% 50%);
}

.arrow-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Icon buttons */
.icon-button {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  color: #444;
}

.icon-button:hover {
  color: #000;
}

.icon-button:focus-visible {
  outline: 2px solid #3b82f6;
}

/* Grayscale slider thumb*/
.gray-slider {
  background: var(--track);
  --thumb: rgb(128, 128, 128);
}

.gray-slider:focus-visible::-webkit-slider-thumb {
  outline: 2px solid rgba(255, 255, 255, 0.5);
  outline-offset: 2px;
}

/* Chrome / Edge / Safari */
.gray-slider::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 9999px;
  background: var(--thumb);
  border: 2px solid rgba(255, 255, 255, 0.4);
}

/* Firefox */
.gray-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 9999px;
  background: var(--thumb);
  border: 2px solid rgba(255, 255, 255, 0.4);
}
